    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero-items owl-carousel">
            <div class="single-hero-items set-bg" data-setbg="img/25off.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span><big>Mancuernas y accesorios</big></span>
                            <h1>25% Off</h1>
                            <p>¡Nuevos productos para tu entrenamiento y accesorios ideales para ti!</p>
                            <a href="#" class="primary-btn">¡Quiero!</a>
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>Sale <span>25%</span></h2>
                    </div>
                </div>
            </div>
            <div class="single-hero-items set-bg" data-setbg="img/15off.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span><big>Suplementos</big></span>
                            <h1>15% Off</h1>
                            <p>¡Aprovecha los descuentos que tenemos para ti en suplementos!</p>
                            <a href="#" class="primary-btn">¡Quiero!</a>
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>Sale <span>15%</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/mancuerna1.jpg" alt="">
                        <div class="inner-text">
                            <h4>Mancuernas y accesorios</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/suplementos.jpg" alt="">
                        <div class="inner-text">
                            <h4>Suplementos</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/shake.jpg" alt="">
                        <div class="inner-text">
                            <h4>Shakers</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Section End -->

    <!-- Women Banner Section Begin -->
    <section class="women-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-large set-bg" data-setbg="img/esquinalarge.jpg">
                        <h2><small>Be strong!</small></h2>
                        <h2><small>Be fitness!</small></h2>
                        <h2>Be iFIT.!</h2>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-1">
                    <div class="filter-control">
                        <ul>
                            <li class="active">Suplementos</li>
                            <li>Whey Protein</li>
                            <li>Ropa deportiva</li>
                            <li>Accesorios</li>
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                        {{#each productos}}
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="{{imagen}}" alt="">
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">{{id}}</div>
                                <a href="/productos/{{id}}">
                                    <h5>{{nombre}}</h5>
                                </a>
                                <div class="product-price">
                                    ARS ${{precio}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Women Banner Section End -->

    <!-- Deal Of The Week Section Begin-->
    <section class="deal-of-week set-bg spad" data-setbg="img/time-whey.jpg">
        <div class="container">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h2>Producto de la semana</h2>
                    <p>¡Aprovecha el producto seleccionado de esta semana, con descuentos increibles!</p>
                    <div class="product-price">
                        $999
                        <span>Whey Protein</span>
                    </div>
                </div>
                <div class="countdown-timer" id="countdown">
                    <div class="cd-item">
                        <span>31</span>
                        <p>Dias</p>
                    </div>
                    <div class="cd-item">
                        <span>12</span>
                        <p>Hrs</p>
                    </div>
                    <div class="cd-item">
                        <span>40</span>
                        <p>Mins</p>
                    </div>
                    <div class="cd-item">
                        <span>52</span>
                        <p>Secs</p>
                    </div>
                </div>
                <a href="/productos/7" class="primary-btn">¡Lo quiero!</a>
            </div>
        </div>
    </section>
    <!-- Deal Of The Week Section End --

    <!-- Instagram Section Begin -->
    <div class="instagram-photo">
        <div class="insta-item set-bg" data-setbg="img/fit1.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="www.instagram.com">ifit_argentina</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="img/fit2.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="www.instagram.com">ifit_argentina</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="img/fit3.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="www.instagram.com">ifit_argentina</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="img/fit4.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="www.instagram.com">ifit_argentina</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="img/fit5.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="www.instagram.com">ifit_argentina</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="img/fit6.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="www.instagram.com">ifit_argentina</a></h5>
            </div>
        </div>
    </div>
    <!-- Instagram Section End -->
